Node-RED/robot_flow.json
[{"id":"73d3e9a.c492618","type":"tab","label":"Robot","disabled":false,"info":""},{"id":"122c32a1.f0777d","type":"OPCUA-IIoT-Method-Caller","z":"73d3e9a.c492618","connector":"629f09e9.4bf668","objectId":"ns=4;i=1066","methodId":"ns=4;i=1067","methodType":"basic","value":"","justValue":false,"name":"ReadInput","showStatusActivities":false,"showErrors":true,"inputArguments":[],"x":670,"y":80,"wires":[["a3851962.77d278"]]},{"id":"f87adbda.df3ff8","type":"inject","z":"73d3e9a.c492618","name":"Input","topic":"","payload":" {\"Index\": 12}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["932ee772.2c61a8"]]},{"id":"ebeb9003.8e2d4","type":"mqtt out","z":"73d3e9a.c492618","name":"Robot.Output.ReadInput","topic":"Robot.Output.ReadInput","qos":"0","retain":"false","broker":"a43a2b6b.dd117","x":1010,"y":80,"wires":[]},{"id":"f9632bd5.eb70c8","type":"function","z":"73d3e9a.c492618","name":"OPC UA Input","func":"Index = msg.payload.Index\nmsg.payload = {}\nmsg.payload.inputArguments = []\nmsg.payload.inputArguments[0] = {}\nmsg.payload.inputArguments[0].name = 'Index'\nmsg.payload.inputArguments[0].dataType = 'UInt16'\nmsg.payload.inputArguments[0].value = Index\nreturn msg\n","outputs":1,"noerr":0,"x":540,"y":200,"wires":[["122c32a1.f0777d"]]},{"id":"a3851962.77d278","type":"function","z":"73d3e9a.c492618","name":"OPC UA Output","func":"msg.payload = {\"Value\": msg.payload.results[0].outputArguments[0].value, \"StatusDescription\": msg.payload.results[0].statusCode.description}\nreturn msg\n","outputs":1,"noerr":0,"x":820,"y":200,"wires":[["ebeb9003.8e2d4"]]},{"id":"a0a2c5f4.e91168","type":"mqtt in","z":"73d3e9a.c492618","name":"Robot.Output.ReadInput","topic":"Robot.Output.ReadInput","qos":"0","datatype":"json","broker":"a43a2b6b.dd117","x":1130,"y":200,"wires":[["8b53ff11.5cf07"]]},{"id":"8b53ff11.5cf07","type":"debug","z":"73d3e9a.c492618","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":80,"wires":[]},{"id":"932ee772.2c61a8","type":"mqtt out","z":"73d3e9a.c492618","name":"Robot.Input.ReadInput","topic":"Robot.Input.ReadInput","qos":"0","retain":"false","broker":"a43a2b6b.dd117","x":240,"y":200,"wires":[]},{"id":"9373c23.8b1974","type":"mqtt in","z":"73d3e9a.c492618","name":"Robot.Input.ReadInput","topic":"Robot.Input.ReadInput","qos":"0","datatype":"json","broker":"a43a2b6b.dd117","x":380,"y":80,"wires":[["f9632bd5.eb70c8"]]},{"id":"c84dc6a4.e05428","type":"OPCUA-IIoT-Method-Caller","z":"73d3e9a.c492618","connector":"629f09e9.4bf668","objectId":"ns=4;i=1066","methodId":"ns=4;i=1111","methodType":"basic","value":"","justValue":false,"name":"WriteOutput","showStatusActivities":false,"showErrors":true,"inputArguments":[],"x":670,"y":360,"wires":[["654bbee0.ee7bd"]]},{"id":"d3921825.fd7238","type":"inject","z":"73d3e9a.c492618","name":"Input","topic":"","payload":"{\"Index\":4,\"Value\":false}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[["4268d5d0.5056bc"]]},{"id":"10f25417.4a1c3c","type":"mqtt out","z":"73d3e9a.c492618","name":"Robot.Output.WriteOutput","topic":"Robot.Output.WriteOutput","qos":"0","retain":"false","broker":"a43a2b6b.dd117","x":1010,"y":360,"wires":[]},{"id":"590038e.dacc0c8","type":"function","z":"73d3e9a.c492618","name":"OPC UA Input","func":"Index = msg.payload.Index\nValue = msg.payload.Value\nmsg.payload = {}\nmsg.payload.inputArguments = []\nmsg.payload.inputArguments[0] = {}\nmsg.payload.inputArguments[0].name = 'Index'\nmsg.payload.inputArguments[0].dataType = 'UInt16'\nmsg.payload.inputArguments[0].value = Index\nmsg.payload.inputArguments[1] = {}\nmsg.payload.inputArguments[1].name = 'Value'\nmsg.payload.inputArguments[1].dataType = 'Boolean'\nmsg.payload.inputArguments[1].value = Value\nreturn msg\n","outputs":1,"noerr":0,"x":540,"y":480,"wires":[["c84dc6a4.e05428"]]},{"id":"654bbee0.ee7bd","type":"function","z":"73d3e9a.c492618","name":"OPC UA Output","func":"msg.payload = {\"StatusDescription\": msg.payload.results[0].statusCode.description}\nreturn msg\n","outputs":1,"noerr":0,"x":820,"y":480,"wires":[["10f25417.4a1c3c"]]},{"id":"c643714d.6bb53","type":"mqtt in","z":"73d3e9a.c492618","name":"Robot.Output.WriteOutput","topic":"Robot.Output.WriteOutput","qos":"0","datatype":"json","broker":"a43a2b6b.dd117","x":1130,"y":480,"wires":[["63e2a982.708c88"]]},{"id":"63e2a982.708c88","type":"debug","z":"73d3e9a.c492618","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":360,"wires":[]},{"id":"4268d5d0.5056bc","type":"mqtt out","z":"73d3e9a.c492618","name":"Robot.Input.WriteOutput","topic":"Robot.Input.WriteOutput","qos":"0","retain":"false","broker":"a43a2b6b.dd117","x":250,"y":480,"wires":[]},{"id":"64c2b88b.2ce568","type":"mqtt in","z":"73d3e9a.c492618","name":"Robot.Input.WriteOutput","topic":"Robot.Input.WriteOutput","qos":"0","datatype":"json","broker":"a43a2b6b.dd117","x":390,"y":360,"wires":[["590038e.dacc0c8"]]},{"id":"660a6081.da32b","type":"OPCUA-IIoT-Method-Caller","z":"73d3e9a.c492618","connector":"629f09e9.4bf668","objectId":"ns=4;i=1103","methodId":"ns=4;i=1105","methodType":"basic","value":"","justValue":false,"name":"GetMostRecentError","showStatusActivities":false,"showErrors":true,"inputArguments":[],"x":700,"y":640,"wires":[["ef259ffd.a6952"]]},{"id":"3aae0271.9307fe","type":"inject","z":"73d3e9a.c492618","name":"Input","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":640,"wires":[["8bbd8a56.e7b568"]]},{"id":"4a7c622e.65e09c","type":"mqtt out","z":"73d3e9a.c492618","name":"Robot.Output.GetMostRecentError","topic":"Robot.Output.GetMostRecentError","qos":"0","retain":"false","broker":"a43a2b6b.dd117","x":1040,"y":640,"wires":[]},{"id":"5b932857.274db8","type":"function","z":"73d3e9a.c492618","name":"OPC UA Input","func":"return msg\n","outputs":1,"noerr":0,"x":540,"y":760,"wires":[["660a6081.da32b"]]},{"id":"ef259ffd.a6952","type":"function","z":"73d3e9a.c492618","name":"OPC UA Output","func":"msg.payload = {\"MostRecentError\": msg.payload.results[0].outputArguments[0].value, \"StatusDescription\": msg.payload.results[0].statusCode.description}\nreturn msg\n","outputs":1,"noerr":0,"x":820,"y":760,"wires":[["4a7c622e.65e09c"]]},{"id":"507781ca.32608","type":"mqtt in","z":"73d3e9a.c492618","name":"Robot.Output.GetMostRecentError","topic":"Robot.Output.GetMostRecentError","qos":"0","datatype":"json","broker":"a43a2b6b.dd117","x":1160,"y":760,"wires":[["f0f3e29f.52524"]]},{"id":"f0f3e29f.52524","type":"debug","z":"73d3e9a.c492618","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":640,"wires":[]},{"id":"8bbd8a56.e7b568","type":"mqtt out","z":"73d3e9a.c492618","name":"Robot.Input.GetMostRecentError","topic":"Robot.Input.GetMostRecentError","qos":"0","retain":"false","broker":"a43a2b6b.dd117","x":280,"y":760,"wires":[]},{"id":"d292ed53.e6dd4","type":"mqtt in","z":"73d3e9a.c492618","name":"Robot.Input.GetMostRecentError","topic":"Robot.Input.GetMostRecentError","qos":"0","datatype":"json","broker":"a43a2b6b.dd117","x":390,"y":640,"wires":[["5b932857.274db8"]]},{"id":"36f1bee0.86f932","type":"OPCUA-IIoT-Method-Caller","z":"73d3e9a.c492618","connector":"629f09e9.4bf668","objectId":"ns=4;i=1102","methodId":"ns=4;i=1108","methodType":"basic","value":"","justValue":false,"name":"ResetError","showStatusActivities":false,"showErrors":true,"inputArguments":[],"x":670,"y":1160,"wires":[["66e70c2f.306974"]]},{"id":"67947708.8718e8","type":"inject","z":"73d3e9a.c492618","name":"Input","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1160,"wires":[["ee43f0f7.6423f"]]},{"id":"173c108d.9ca7df","type":"mqtt out","z":"73d3e9a.c492618","name":"Robot.Output.ResetError","topic":"Robot.Output.ResetError","qos":"0","retain":"false","broker":"a43a2b6b.dd117","x":1010,"y":1160,"wires":[]},{"id":"66908c2d.0b1754","type":"function","z":"73d3e9a.c492618","name":"OPC UA Input","func":"return msg\n","outputs":1,"noerr":0,"x":540,"y":1280,"wires":[["36f1bee0.86f932"]]},{"id":"66e70c2f.306974","type":"function","z":"73d3e9a.c492618","name":"OPC UA Output","func":"msg.payload = {\"StatusDescription\": msg.payload.results[0].statusCode.description}\nreturn msg\n","outputs":1,"noerr":0,"x":820,"y":1280,"wires":[["173c108d.9ca7df"]]},{"id":"1a825236.d121ce","type":"mqtt in","z":"73d3e9a.c492618","name":"Robot.Output.ResetError","topic":"Robot.Output.ResetError","qos":"0","datatype":"json","broker":"a43a2b6b.dd117","x":1130,"y":1280,"wires":[["8f68dbe6.8c0eb8"]]},{"id":"8f68dbe6.8c0eb8","type":"debug","z":"73d3e9a.c492618","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":1160,"wires":[]},{"id":"ee43f0f7.6423f","type":"mqtt out","z":"73d3e9a.c492618","name":"Robot.Input.ResetError","topic":"Robot.Input.ResetError","qos":"0","retain":"false","broker":"a43a2b6b.dd117","x":250,"y":1280,"wires":[]},{"id":"46c54250.95ee9c","type":"mqtt in","z":"73d3e9a.c492618","name":"Robot.Input.ResetError","topic":"Robot.Input.ResetError","qos":"0","datatype":"json","broker":"a43a2b6b.dd117","x":360,"y":1160,"wires":[["66908c2d.0b1754"]]},{"id":"b18b9e32.69661","type":"OPCUA-IIoT-Method-Caller","z":"73d3e9a.c492618","connector":"629f09e9.4bf668","objectId":"ns=4;i=1130","methodId":"ns=4;i=1131","methodType":"basic","value":"","justValue":false,"name":"OpenGripper","showStatusActivities":false,"showErrors":true,"inputArguments":[],"x":670,"y":1440,"wires":[["5413e140.45b9b"]]},{"id":"a59008a6.17ce98","type":"inject","z":"73d3e9a.c492618","name":"Input","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1440,"wires":[["b38a72d.856439"]]},{"id":"63f626f0.777e88","type":"mqtt out","z":"73d3e9a.c492618","name":"Robot.Output.OpenGripper","topic":"Robot.Output.OpenGripper","qos":"0","retain":"false","broker":"a43a2b6b.dd117","x":1020,"y":1440,"wires":[]},{"id":"a82944dc.f5ea28","type":"function","z":"73d3e9a.c492618","name":"OPC UA Input","func":"return msg\n","outputs":1,"noerr":0,"x":540,"y":1560,"wires":[["b18b9e32.69661"]]},{"id":"5413e140.45b9b","type":"function","z":"73d3e9a.c492618","name":"OPC UA Output","func":"msg.payload = {\"StatusDescription\": msg.payload.results[0].statusCode.description}\nreturn msg\n","outputs":1,"noerr":0,"x":820,"y":1560,"wires":[["63f626f0.777e88"]]},{"id":"cd957263.91bda","type":"mqtt in","z":"73d3e9a.c492618","name":"Robot.Output.OpenGripper","topic":"Robot.Output.OpenGripper","qos":"0","datatype":"json","broker":"a43a2b6b.dd117","x":1130,"y":1560,"wires":[["50e5d593.752e9c"]]},{"id":"50e5d593.752e9c","type":"debug","z":"73d3e9a.c492618","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":1440,"wires":[]},{"id":"b38a72d.856439","type":"mqtt out","z":"73d3e9a.c492618","name":"Robot.Input.OpenGripper","topic":"Robot.Input.OpenGripper","qos":"0","retain":"false","broker":"a43a2b6b.dd117","x":250,"y":1560,"wires":[]},{"id":"e149db75.47be68","type":"mqtt in","z":"73d3e9a.c492618","name":"Robot.Input.OpenGripper","topic":"Robot.Input.OpenGripper","qos":"0","datatype":"json","broker":"a43a2b6b.dd117","x":370,"y":1440,"wires":[["a82944dc.f5ea28"]]},{"id":"f750ee3a.4c7dd","type":"OPCUA-IIoT-Method-Caller","z":"73d3e9a.c492618","connector":"629f09e9.4bf668","objectId":"ns=4;i=1130","methodId":"ns=4;i=1134","methodType":"basic","value":"","justValue":false,"name":"CloseGripper","showStatusActivities":false,"showErrors":true,"inputArguments":[],"x":670,"y":1720,"wires":[["d6862e69.3d26b"]]},{"id":"ac8cdf75.7f353","type":"inject","z":"73d3e9a.c492618","name":"Input","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1720,"wires":[["8ee89643.323588"]]},{"id":"9510a39e.046d8","type":"mqtt out","z":"73d3e9a.c492618","name":"Robot.Output.CloseGripper","topic":"Robot.Output.CloseGripper","qos":"0","retain":"false","broker":"a43a2b6b.dd117","x":1020,"y":1720,"wires":[]},{"id":"771f2a9d.8f7604","type":"function","z":"73d3e9a.c492618","name":"OPC UA Input","func":"return msg\n","outputs":1,"noerr":0,"x":540,"y":1840,"wires":[["f750ee3a.4c7dd"]]},{"id":"d6862e69.3d26b","type":"function","z":"73d3e9a.c492618","name":"OPC UA Output","func":"msg.payload = {\"StatusDescription\": msg.payload.results[0].statusCode.description}\nreturn msg\n","outputs":1,"noerr":0,"x":820,"y":1840,"wires":[["9510a39e.046d8"]]},{"id":"94ea4e6b.514a7","type":"mqtt in","z":"73d3e9a.c492618","name":"Robot.Output.CloseGripper","topic":"Robot.Output.CloseGripper","qos":"0","datatype":"json","broker":"a43a2b6b.dd117","x":1130,"y":1840,"wires":[["3b6200f2.e121c"]]},{"id":"3b6200f2.e121c","type":"debug","z":"73d3e9a.c492618","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":1720,"wires":[]},{"id":"8ee89643.323588","type":"mqtt out","z":"73d3e9a.c492618","name":"Robot.Input.CloseGripper","topic":"Robot.Input.CloseGripper","qos":"0","retain":"false","broker":"a43a2b6b.dd117","x":250,"y":1840,"wires":[]},{"id":"439a05ec.ddf96c","type":"mqtt in","z":"73d3e9a.c492618","name":"Robot.Input.CloseGripper","topic":"Robot.Input.CloseGripper","qos":"0","datatype":"json","broker":"a43a2b6b.dd117","x":370,"y":1720,"wires":[["771f2a9d.8f7604"]]},{"id":"aaf8b2cf.6996e","type":"OPCUA-IIoT-Method-Caller","z":"73d3e9a.c492618","connector":"629f09e9.4bf668","objectId":"ns=4;i=1130","methodId":"ns=4;i=1137","methodType":"basic","value":"","justValue":false,"name":"Move","showStatusActivities":false,"showErrors":true,"inputArguments":[],"x":650,"y":2020,"wires":[["faeb6724.057338"]]},{"id":"3d9f75aa.bdccaa","type":"inject","z":"73d3e9a.c492618","name":"Input","topic":"","payload":"{\"X\":230.03,\"Y\":0,\"Z\":378,\"A\":0,\"B\":0,\"C\":90}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2020,"wires":[["3ea498fa.e677c8"]]},{"id":"bdc82e0b.d5c69","type":"mqtt out","z":"73d3e9a.c492618","name":"Robot.Output.Move","topic":"Robot.Output.Move","qos":"0","retain":"false","broker":"a43a2b6b.dd117","x":990,"y":2020,"wires":[]},{"id":"d523523b.47198","type":"function","z":"73d3e9a.c492618","name":"OPC UA Input","func":"X = msg.payload.X\nY = msg.payload.Y\nZ = msg.payload.Z\nA = msg.payload.A\nB = msg.payload.B\nC = msg.payload.C\nmsg.payload = {}\nmsg.payload.inputArguments = []\nmsg.payload.inputArguments[0] = {}\nmsg.payload.inputArguments[0].name = 'X'\nmsg.payload.inputArguments[0].dataType = 'Float'\nmsg.payload.inputArguments[0].value = X\nmsg.payload.inputArguments[1] = {}\nmsg.payload.inputArguments[1].name = 'Y'\nmsg.payload.inputArguments[1].dataType = 'Float'\nmsg.payload.inputArguments[1].value = Y\nmsg.payload.inputArguments[2] = {}\nmsg.payload.inputArguments[2].name = 'Z'\nmsg.payload.inputArguments[2].dataType = 'Float'\nmsg.payload.inputArguments[2].value = Z\nmsg.payload.inputArguments[3] = {}\nmsg.payload.inputArguments[3].name = 'A'\nmsg.payload.inputArguments[3].dataType = 'Float'\nmsg.payload.inputArguments[3].value = A\nmsg.payload.inputArguments[4] = {}\nmsg.payload.inputArguments[4].name = 'B'\nmsg.payload.inputArguments[4].dataType = 'Float'\nmsg.payload.inputArguments[4].value = B\nmsg.payload.inputArguments[5] = {}\nmsg.payload.inputArguments[5].name = 'C'\nmsg.payload.inputArguments[5].dataType = 'Float'\nmsg.payload.inputArguments[5].value = C\nreturn msg\n","outputs":1,"noerr":0,"x":540,"y":2140,"wires":[["aaf8b2cf.6996e"]]},{"id":"faeb6724.057338","type":"function","z":"73d3e9a.c492618","name":"OPC UA Output","func":"msg.payload = {\"StatusDescription\": msg.payload.results[0].statusCode.description}\nreturn msg\n","outputs":1,"noerr":0,"x":820,"y":2140,"wires":[["bdc82e0b.d5c69"]]},{"id":"14ed8e77.366bd2","type":"mqtt in","z":"73d3e9a.c492618","name":"Robot.Output.Move","topic":"Robot.Output.Move","qos":"0","datatype":"json","broker":"a43a2b6b.dd117","x":1110,"y":2140,"wires":[["575bb973.62f288"]]},{"id":"575bb973.62f288","type":"debug","z":"73d3e9a.c492618","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":2020,"wires":[]},{"id":"3ea498fa.e677c8","type":"mqtt out","z":"73d3e9a.c492618","name":"Robot.Input.Move","topic":"Robot.Input.Move","qos":"0","retain":"false","broker":"a43a2b6b.dd117","x":230,"y":2140,"wires":[]},{"id":"c6dc715e.7febd","type":"mqtt in","z":"73d3e9a.c492618","name":"Robot.Input.Move","topic":"Robot.Input.Move","qos":"0","datatype":"json","broker":"a43a2b6b.dd117","x":370,"y":2020,"wires":[["d523523b.47198"]]},{"id":"1e99bf4.2033141","type":"OPCUA-IIoT-Method-Caller","z":"73d3e9a.c492618","connector":"629f09e9.4bf668","objectId":"ns=4;i=1113","methodId":"ns=4;i=1115","methodType":"basic","value":"","justValue":false,"name":"MoveToSafePosition","showStatusActivities":false,"showErrors":true,"inputArguments":[],"x":700,"y":2300,"wires":[["4882a3bb.6e69fc"]]},{"id":"268c9dc4.4b9d42","type":"inject","z":"73d3e9a.c492618","name":"Input","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2300,"wires":[["28c92da1.a43b52"]]},{"id":"6de3e44.6f7951c","type":"mqtt out","z":"73d3e9a.c492618","name":"Robot.Output.MoveToSafePosition","topic":"Robot.Output.MoveToSafePosition","qos":"0","retain":"false","broker":"a43a2b6b.dd117","x":1040,"y":2300,"wires":[]},{"id":"9307a167.171df","type":"function","z":"73d3e9a.c492618","name":"OPC UA Input","func":"return msg\n","outputs":1,"noerr":0,"x":540,"y":2420,"wires":[["1e99bf4.2033141"]]},{"id":"4882a3bb.6e69fc","type":"function","z":"73d3e9a.c492618","name":"OPC UA Output","func":"msg.payload = {\"StatusDescription\": msg.payload.results[0].statusCode.description}\nreturn msg\n","outputs":1,"noerr":0,"x":820,"y":2420,"wires":[["6de3e44.6f7951c"]]},{"id":"bb97dcc0.69cfb","type":"mqtt in","z":"73d3e9a.c492618","name":"Robot.Output.MoveToSafePosition","topic":"Robot.Output.MoveToSafePosition","qos":"0","datatype":"json","broker":"a43a2b6b.dd117","x":1160,"y":2420,"wires":[["43380f61.16db6"]]},{"id":"43380f61.16db6","type":"debug","z":"73d3e9a.c492618","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":2300,"wires":[]},{"id":"28c92da1.a43b52","type":"mqtt out","z":"73d3e9a.c492618","name":"Robot.Input.MoveToSafePosition","topic":"Robot.Input.MoveToSafePosition","qos":"0","retain":"false","broker":"a43a2b6b.dd117","x":280,"y":2420,"wires":[]},{"id":"91b075f4.f11508","type":"mqtt in","z":"73d3e9a.c492618","name":"Robot.Input.MoveToSafePosition","topic":"Robot.Input.MoveToSafePosition","qos":"0","datatype":"json","broker":"a43a2b6b.dd117","x":390,"y":2300,"wires":[["9307a167.171df"]]},{"id":"5ba1bf5.0b3cb4","type":"OPCUA-IIoT-Method-Caller","z":"73d3e9a.c492618","connector":"629f09e9.4bf668","objectId":"ns=4;i=1066","methodId":"ns=4;i=1140","methodType":"basic","value":"","justValue":false,"name":"GetRecentErrors","showStatusActivities":false,"showErrors":true,"inputArguments":[],"x":690,"y":900,"wires":[["ad6c816.fb10b8"]]},{"id":"ed175c36.ecbd2","type":"inject","z":"73d3e9a.c492618","name":"Input","topic":"","payload":" {\"NumberOfErrors\": 10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":900,"wires":[["c9954a5a.da03b8"]]},{"id":"8bea22c7.0238b","type":"mqtt out","z":"73d3e9a.c492618","name":"Robot.Output.GetRecentErrors","topic":"Robot.Output.GetRecentErrors","qos":"0","retain":"false","broker":"a43a2b6b.dd117","x":1030,"y":900,"wires":[]},{"id":"8a3e19d9.fc6ac8","type":"function","z":"73d3e9a.c492618","name":"OPC UA Input","func":"NumberOfErrors = msg.payload.NumberOfErrors\nmsg.payload = {}\nmsg.payload.inputArguments = []\nmsg.payload.inputArguments[0] = {}\nmsg.payload.inputArguments[0].name = 'NumberOfErrors'\nmsg.payload.inputArguments[0].dataType = 'UInt16'\nmsg.payload.inputArguments[0].value = NumberOfErrors\nreturn msg\n","outputs":1,"noerr":0,"x":540,"y":1020,"wires":[["5ba1bf5.0b3cb4"]]},{"id":"ad6c816.fb10b8","type":"function","z":"73d3e9a.c492618","name":"OPC UA Output","func":"Errors = []\nvalue = msg.payload.results[0].outputArguments[0].value\nlength = msg.payload.results[0].outputArguments[0].dimensions[1]\nwhile (value.length > 0) {\n    Errors.push(value.splice(0, length))\n}\nmsg.payload = {\"Errors\": Errors, \"StatusDescription\": msg.payload.results[0].statusCode.description}\nreturn msg\n","outputs":1,"noerr":0,"x":820,"y":1020,"wires":[["8bea22c7.0238b"]]},{"id":"28fac150.fba70e","type":"mqtt in","z":"73d3e9a.c492618","name":"Robot.Output.GetRecentErrors","topic":"Robot.Output.GetRecentErrors","qos":"0","datatype":"json","broker":"a43a2b6b.dd117","x":1150,"y":1020,"wires":[["cc3e35dc.581cc8"]]},{"id":"cc3e35dc.581cc8","type":"debug","z":"73d3e9a.c492618","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":900,"wires":[]},{"id":"c9954a5a.da03b8","type":"mqtt out","z":"73d3e9a.c492618","name":"Robot.Input.GetRecentErrors","topic":"Robot.Input.GetRecentErrors","qos":"0","retain":"false","broker":"a43a2b6b.dd117","x":260,"y":1020,"wires":[]},{"id":"bbc76d7d.1c58c","type":"mqtt in","z":"73d3e9a.c492618","name":"Robot.Input.GetRecentErrors","topic":"Robot.Input.GetRecentErrors","qos":"0","datatype":"json","broker":"a43a2b6b.dd117","x":400,"y":900,"wires":[["8a3e19d9.fc6ac8"]]},{"id":"fc3d7a29.96f008","type":"OPCUA-IIoT-Method-Caller","z":"73d3e9a.c492618","connector":"629f09e9.4bf668","objectId":"ns=0;i=2253","methodId":"ns=4;i=1164","methodType":"basic","value":"","justValue":false,"name":"RestartServer","showStatusActivities":false,"showErrors":true,"inputArguments":[],"x":680,"y":2560,"wires":[["ba519785.ae0458"]]},{"id":"c58c6014.4d266","type":"inject","z":"73d3e9a.c492618","name":"Input","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2560,"wires":[["e7ef47a.ee354b8"]]},{"id":"f95b06d.39d7bf8","type":"mqtt out","z":"73d3e9a.c492618","name":"Robot.Output.RestartServer","topic":"Robot.Output.RestartServer","qos":"0","retain":"false","broker":"a43a2b6b.dd117","x":1000,"y":2560,"wires":[]},{"id":"7770317b.5b97e","type":"function","z":"73d3e9a.c492618","name":"OPC UA Input","func":"return msg\n","outputs":1,"noerr":0,"x":540,"y":2680,"wires":[["fc3d7a29.96f008"]]},{"id":"ba519785.ae0458","type":"function","z":"73d3e9a.c492618","name":"OPC UA Output","func":"msg.payload = {\"StatusDescription\": msg.payload.results[0].statusCode.description}\nreturn msg\n","outputs":1,"noerr":0,"x":820,"y":2680,"wires":[["f95b06d.39d7bf8"]]},{"id":"d4d00c34.0ec8d","type":"mqtt in","z":"73d3e9a.c492618","name":"Robot.Output.RestartServer","topic":"Robot.Output.RestartServer","qos":"0","datatype":"json","broker":"a43a2b6b.dd117","x":1140,"y":2680,"wires":[["e650bb11.bbdee8"]]},{"id":"e650bb11.bbdee8","type":"debug","z":"73d3e9a.c492618","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":2560,"wires":[]},{"id":"e7ef47a.ee354b8","type":"mqtt out","z":"73d3e9a.c492618","name":"Robot.Input.RestartServer","topic":"Robot.Input.RestartServer","qos":"0","retain":"false","broker":"a43a2b6b.dd117","x":250,"y":2680,"wires":[]},{"id":"72167734.fe8218","type":"mqtt in","z":"73d3e9a.c492618","name":"Robot.Input.RestartServer","topic":"Robot.Input.RestartServer","qos":"0","datatype":"json","broker":"a43a2b6b.dd117","x":370,"y":2560,"wires":[["7770317b.5b97e"]]},{"id":"629f09e9.4bf668","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://192.168.162.84:4840/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"OpcUaServerForRobotController","showErrors":true,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"a43a2b6b.dd117","type":"mqtt-broker","z":"","name":"tilabcloud","broker":"128.130.56.11","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]